@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Bold.ttf');
	font-weight: bold;
}

.header, .header * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header {
	--color-1: #283618;
	--color-2: #DDA15E;
	--color-3: #FEFAE0;
	--bg-color: var(--color-1);
	--font-color: var(--color-2);
	--font-color--hover: var(--color-3);
}

.header {
	background-color: var(--bg-color);
	max-width: 100%;
	width: 100%;
	min-height: 4rem;
	display: flex;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	color: var(--font-color);
	
	font-weight: bold;
	font-size: 1.3rem;
}

.container {
	height: 100%;
	max-width: 1080px;
}

.header__container {
	display: flex; 
	align-items: center;
}

.header__menu {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.header__menu-button{
	color: inherit;
	transition: color .1s;
}

.header__menu-button:hover {
	color: var(--font-color--hover);
	transition: color .1s;
}